<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Iniciar Sesión</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>

<body>
  <div class="container">
    <h1>Iniciar Sesión</h1>
    <div class="form-group row">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="augusto" />
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="augusto123" />
              </div>
              <button type="submit" class="btn btn-primary">
                Iniciar Sesión
              </button>
              <a href="/">
                <type="button" class="btn btn-danger">
                  Salir
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>